<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @calculation.amount %>
</p>
 
<p>
  <strong>List:</strong>
  <%= @calculation.list %>
</p>

<%= link_to 'Back', calculations_path %>