<p>
  <strong>Amount:</strong>
  <%= @calculation.amount %>
</p>
 
<p>
  <strong>List:</strong>
  <%= @calculation.list %>
</p>

<%= link_to 'New calculation', new_calculation_path %> |
<%= link_to 'All calculations', controller: 'calculations' %>