<div class="center jumbotron">
  <h1>Flex-out Calculator!</h1>

  <h2>
    Determine the optimal shopping list based on how much flex you have left.
  </h2>

  <%= link_to 'Learn more', 'https://github.com/nkadonaga/flex-calc/blob/master/README.md', class: "btn btn-lg btn-primary" %>
</div>